<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loja VueJs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="../../js/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <div class="card" style="margin-left: 30%; margin-top: 10%; width: 50%; height: 70%;border-width: 2px;">
            <div class="card-title" style="margin: 10px">
                <h1>Cadastrar-se</h1>
            </div>
            <div class="card-subtitle" style="margin: 5px">Entre suas informações</div>
            <div class="card-body">
                <div class="form-group row" style="padding: 5px;">
                    <div class="col-xs-6" style="padding: 5px;">
                        <label for="nameClient">Nome do Cliente</label>
                        <input type="text" v-model="nameClient" class="form-control" id="nameClient"
                            placeholder="Entre com o seu nome">
                    </div>

                    <div class="col-xs-2" style="padding: 5px;">
                        <label for="ageClient">Idade</label>
                        <input type="text" v-model="ageClient" class="form-control" id="ageClient" placeholder="Idade">
                    </div>

                    <div class="col-xs-6" style="padding: 5px;">
                        <label for="sex">Sexo</label>
                        <select class="form-control" v-model="sexSelected" id="sex">
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                    </div>

                    <div class="col-xs-6" style="padding: 5px;">
                        <label for="stores">Loja</label>
                        <select class="form-control" v-model="storeSelected" id="stores">
                            <option v-for="store in stores" v-bind:value="store.id">
                                {{ store.name }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Cadastrar-se" v-on:click="addSalesman()" />
                </div>
            </div>
        </div>
    </div>

    <script>
        const app = new Vue({
            el: "#app",
            data: {
                url: 'http://localhost:8080/api/public/client',
                nameClient: '',
                ageClient: '',
                stores: [],
                storeSelected: '',
                sexSelected: ''
            },
            created: function () {
                let c = this;
                let urlGet = 'http://localhost:8080/api/store/stores'
                axios.get(urlGet, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(resp => {
                    for (let i in resp.data) {
                        c.stores.push(resp.data[i])
                    }
                }).catch(error => console.log(error))
            },
            methods: {
                addSalesman() {
                    if (this.nameClient !== '' && this.ageClient > 0 && (this.sexSelected === 'M' || this.sexSelected === 'F') && this.storeSelected > 0) {
                        axios.post(this.url, {
                            name: this.nameClient,
                            age: this.ageClient,
                            sex: this.sexSelected,
                            store: {
                                id: this.storeSelected
                            }
                        }, {
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            }).then(resp => {
                                alert("Cliente adicionado com sucesso  !");
                                window.location.replace("../../index.html");
                            }).catch(error => {
                                console.log(error);
                            });
                    }
                    else
                        alert('Preencha o formulário corretamente !');
                }
            }
        })
    </script>
</body>

</html>